.idea/

/elasticsearch/master/data/
/elasticsearch/master/logs/
/elasticsearch/master/plugins/
/elasticsearch/slave/data/
/elasticsearch/slave/logs/

/minio/

/prometheus/node1/data/
/prometheus/node2/data/