.idea/

clickhouse/2s/node1/data/
clickhouse/2s/node1/log/
clickhouse/2s/node2/data/
clickhouse/2s/node2/log/
clickhouse/2s_1r/node1/main/data/
clickhouse/2s_1r/node1/main/log/
clickhouse/2s_1r/node1/sub/data/
clickhouse/2s_1r/node1/sub/log/
clickhouse/2s_1r/node2/main/data/
clickhouse/2s_1r/node2/main/log/
clickhouse/2s_1r/node2/sub/data/
clickhouse/2s_1r/node2/sub/log/

elasticsearch/master/data/
elasticsearch/master/logs/
elasticsearch/master/plugins/
elasticsearch/slave/data/
elasticsearch/slave/logs/

grafana/data/

kafka/data/

loki/data/

minio/data/

postgresql/data/

mysql/data/

prometheus/node1/data/
prometheus/node2/data/

rocketmq/broker/logs/
rocketmq/broker/store/
rocketmq/namesrv/logs/


