.idea/

clickhouse/2s/node1/data/
clickhouse/2s/node1/log/
clickhouse/2s/node2/data/
clickhouse/2s/node2/log/
clickhouse/2s_1r/node1/main/data/
clickhouse/2s_1r/node1/main/log/
clickhouse/2s_1r/node1/sub/data/
clickhouse/2s_1r/node1/sub/log/
clickhouse/2s_1r/node2/main/data/
clickhouse/2s_1r/node2/main/log/
clickhouse/2s_1r/node2/sub/data/
clickhouse/2s_1r/node2/sub/log/

cloudbeaver/workspace/

consul/data/

elasticsearch/master/data/
elasticsearch/master/logs/
elasticsearch/master/plugins/
elasticsearch/slave/data/
elasticsearch/slave/logs/

grafana/data/

flink/data/

kafka/data/

localai/models/

loki/data/

minio/data/

postgresql/data/

mysql/data/

prometheus/data/
prometheus/node1/data/
prometheus/node2/data/

rocketmq/broker/logs/
rocketmq/broker/store/
rocketmq/namesrv/logs/

rabbitmq/data/

redis-cluster/redis6479/data/
redis-cluster/redis6479/logs/
redis-cluster/redis6579/data/
redis-cluster/redis6579/logs/
redis-cluster/redis6679/data/
redis-cluster/redis6679/logs/
redis-cluster/redis6779/data/
redis-cluster/redis6779/logs/
redis-cluster/redis6879/data/
redis-cluster/redis6879/logs/
redis-cluster/redis6979/data/
redis-cluster/redis6979/logs/

victoria-metrics/data/
