version: '3.7'
services:
  prometheus-node1:
    image: prom/prometheus:v2.31.0
    container_name: prometheus-node1
    volumes:
      - ./prometheus/node1/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/node1/data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.min-block-duration=1m'
      - '--storage.tsdb.max-block-duration=1m'
      - '--storage.tsdb.retention.time=5m'
    ports:
      - 9090:9090
    networks:
      - net-prometheus1
  thanos-sidecar1:
    image: raspbernetes/thanos:v0.23.1
    container_name: thanos-sidecar1
    volumes:
      - ./prometheus/node1/data:/var/prometheus
      - ./thanos/bucket_config.yaml:/bucket_config.yaml
    command:
      - sidecar
      - --tsdb.path=/var/prometheus
      - --prometheus.url=http://prometheus-node1:9090
      - --objstore.config-file=/bucket_config.yaml
      - --http-address=0.0.0.0:19191
      - --grpc-address=0.0.0.0:19090
    ports:
      - 19191:19191
      - 19090:19090
    networks:
      - net-prometheus1
    depends_on:
      - prometheus-node1
networks:
  net-prometheus1:
    driver: bridge